body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    background-color:rgba(255, 255, 255, 1);
    color: rgba(33, 33, 33, 1);
}

nav {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.85;
}

.all_name span {
    font-family: 'Raleway';
    color: #2196F3;
    line-height: 1.19;
}

.all_name {
    font-family: 'Raleway';
    color: black;
    line-height: 1.19;
}

span {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
}

.data-contact {
    color: rgba(117, 117, 117, 1);
}
a:hover {
    color: #2196F3;

}

.button_index {
    font-size: 16px;
    font-weight: 500;
    line-height: 0.61;
    text-align: center;
    color: white;
    background-color: rgba(33, 150, 243, 1);
}

.button_index:hover {
    cursor: pointer;
}

.button {
    font-size: 16px;
    font-weight: 500;
    line-height: 0.61;
    text-align: center;
    background-color: rgba(245, 244, 250, 1);
}

.button:hover{
    background-color: rgba(33, 150, 243, 1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.front {
    background-color: rgba(47, 48, 58, 1);
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 44px;
    font-weight: 900;
    line-height: 0.73;
    color: white;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(47, 48, 58, 1);
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 0.86;
    text-align: center;
}

.team {
    background-color: rgba(245, 244, 250, 1);
}

h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 0.5;
}
 .goal-title {
     font-size: 16px;
     font-weight: 700;
     line-height: 1.14;
     text-transform: uppercase;
 }

 .group {
     font-size: 16px;
     font-weight: 500;
     line-height: 0.85;
     text-align: center;
 }
 
p {
    font-size: 16px;
    line-height: 0.53;
}

.description {
    line-height: 0.58;
    color: rgba(117, 117, 117, 1);
}

.profession {
    font-size: 16px;
    line-height: 0.85;
    color: rgba(117, 117, 117, 1);
    text-align: center;
}

footer {
    background-color: rgba(47, 48, 58, 1);
}

.all_name footer {
    color: white;
}

address {
    color: #FFFFFF;
}

.contact_footer {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 0.58;
    font-style: normal;
}

.second_name span {
    color: #2196F3;;
}

.second_name span {
    font-family: 'Raleway';
    color: #2196F3;
    line-height: 1.19;
}

.second_name {
    font-family: 'Raleway';
    color: white;
    line-height: 1.19;
}
