body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    background-color:rgba(255, 255, 255, 1);
    color: rgba(33, 33, 33, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    margin: 0 auto;
}

.list {
    list-style: none;
    display: flex;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.logo {
    margin: 0px;
}

img {
    display: block;
}

.header {
    border-bottom: 1px solid #ECECEC;
    
}

.web-navigation {
    display: flex;
    padding-left: 215px;
    padding-top: 24px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation-item {
    margin-left: 23px;
}

.data-contact {
    color: rgba(117, 117, 117, 1);
}

nav {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.85;
}

.all_name span {
    font-family: 'Raleway';
    color: #2196F3;
    line-height: 1.19;
}

.all_name {
    font-family: 'Raleway';
    color: black;
    line-height: 1.19;
}

span {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
}

a:hover {
    color: #2196F3;
}

.button_index {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.86;
    text-align: center;
    color: white;
    background-color: rgba(33, 150, 243, 1);
    border-radius: 4px;
    border: 0px;
    width: 200px;
    padding: 10px 42px;
}

.button_index:hover {
    cursor: pointer;
}

.button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    text-align: center;
    background-color: rgba(245, 244, 250, 1);
    border-radius: 4px;
    padding: 6px 22px;
}
.button:hover {
    background-color: rgba(33, 150, 243, 1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
.button-head {
    list-style: none;
    justify-content: center;
    display: flex;
}
.button-head button:not(last-child) {
  margin-right: 8px;
}


.front {
    background-color: rgba(47, 48, 58, 1);
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    color: white;
    text-transform: uppercase;
    text-align: center;
    display: flex;
}

.heading {
    background-color: rgba(47, 48, 58, 1);
}
h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    padding-bottom: 50px
}

.team {
    background-color: rgba(245, 244, 250, 1);
}

h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.13;
    padding-bottom: 4px;
}

 .goal-title {
     font-size: 16px;
     font-weight: 700;
     line-height: 1.17;
     text-transform: uppercase;
 }

 .group {
     font-size: 16px;
     font-weight: 500;
     line-height: 1.17;
     text-align: center;
 }
 
p {
    font-size: 16px;
    line-height: 1.71;
    padding: 0;
}

.description {
    line-height: 1.17;
    color: rgba(117, 117, 117, 1);
    width: 270px;
}

.description:not(:last-child){
    padding-left: 30px;
}

.profession {
    font-size: 16px;
    line-height: 1.17;
    color: rgba(117, 117, 117, 1);
    text-align: center;
}

.project {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}



.jobs {
    padding: 30px;
    padding-bottom: 20px;
}

.image-space {
    padding-left: 30px;
}

footer {
    background-color: rgba(47, 48, 58, 1);
}

.all_name footer {
    color: white;
}

address {
    color: #FFFFFF;
}

.contact_footer {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
}

.second_name span {
    color: #2196F3;;
}

.second_name span {
    font-family: 'Raleway';
    color: #2196F3;
    line-height: 1.19;
}

.second_name {
    font-family: 'Raleway';
    color: white;
    line-height: 1.19;
}
